<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../images/icones/titles/colaboradores.png" type="image/icon type">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
  <title>Document</title>
  <link rel="stylesheet" href="../Styles/style.css">
  <link rel="stylesheet" href="../Styles/colaboradoresStyle.css">

  <!--responsividade para celulares-->
  <link rel="stylesheet" href="../Styles/Responsividade/450px.css">

</head>

<body>
  <!--MENU-->
  <section>
    <header>
      <div class="logo">
        <img width="65%" src="../images/Logo/logo.svg" alt="logo">
      </div>

      <nav class="nav_menu">
        <ul class="nav_links">
          <li><a href="../index.html">Início</a></li>
          <li><a href="./sobre-a-empresa.html">Sobre a empresa</a></li>
          <li><a href="./servicos.html">Serviços</a></li>
          <li><a href="./colaboradores.html">Colaboradores</a></li>
          <li><a href="./contato.html">Contato</a></li>
        </ul>
      </nav>
    </header>
  </section>

  <section>
    <div style="height:70px;width:100%;
            border:3px solid black;
            text-align:center;
            ">
      <div>
        div1
      </div>
      <div>
        div2
      </div>

    </div>
  </section>
</body>

</html>