<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="../images/icones/titles/servicos.png" type="image/icon type">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serviços</title>

  <link rel="stylesheet" href="../Styles/style.css">
  <link rel="stylesheet" href="../Styles/servicosStyle.css">

  <!-- responsivo mobile -->
  <link rel="stylesheet" href="../Styles/Responsividade/700px_servicos.css">

</head>

<body>
  <!--MENU-->
  <section>
    <header>
      <div class="logo">
        <img width="65%" src="../images/Logo/logo.svg" alt="logo">
      </div>

      <nav class="nav_menu">
        <ul class="nav_links">
          <li><a href="../index.html">Início</a></li>
          <li><a href="./sobre-a-empresa.html">Sobre a empresa</a></li>
          <li><a href="./servicos.html">Serviços</a></li>
          <li><a href="./colaboradores.html">Colaboradores</a></li>
          <li><a href="./contato.html">Contato</a></li>
        </ul>
      </nav>

    </header>
  </section>

  <!-- =============================== Banner ============================================ -->
  <section class="section_banner">
    <div class="ttl_banner">
      <p>Nossos Serviços</p>
    </div>

    <!-- banner em Nossos Serviços -->
    <img width="100%" src="../images/Servicos/Servicos.png" alt="banner">
  </section>

  <!-- =============================== Conteúdo da página ================================= -->
  <section>

    <!-- Conheça os serviços que a Good Freelas oferece. -->
    <div class="ttl_conteudo">
      <h2>Conheça os serviços que a Good Freelas<br>oferece.</h2>
    </div>

    <!-- UX Design -->
    <div class="servicos_esquerda">
      <img class="servicos_imagens" src="../images/Servicos/UX design.png" alt="">
      <div class="conteudo servicos_nomes">
        <h1>UX Design</h1><br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>        
      </div>
    </div>

    <!-- divisor -->
    <hr class="servicos_divisor">

    <!-- Programação -->
    <div class="servicos_direita">
      <div class="conteudo servicos_nomes">
        <h1>Programação</h1><br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>        
      </div>
      <img class="servicos_imagens" src="../images/Servicos/Programacao.png" alt="">
    </div>

    <!-- divisor -->
    <hr class="servicos_divisor">

    <!-- Liderança de equipe -->
    <div class="servicos_esquerda">
      <img class="servicos_imagens" src="../images/Servicos/lideranca de equipe.png" alt="">
      <div class="conteudo servicos_nomes">
        <h1>Liderança de equipe</h1><br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>        
      </div>
    </div>

    <!-- divisor -->
    <hr class="servicos_divisor">

    <!-- Gestão de Projeto -->
    <div class="servicos_direita">
      <div class="conteudo servicos_nomes">
        <h1>Gestão de Projeto</h1><br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>        
      </div>
      <img class="servicos_imagens" src="../images/Servicos/image 5.png" alt="">
    </div>

    <!-- divisor -->
    <hr class="servicos_divisor at8">

  </section>

  <!-- =============================== Footer ================================= -->
  <footer>
    <img width="18%" class="logo_footer" src="../images/Logo/logo.svg" alt="logo_footer">
    <div class="footer_div">
      <h3 class="titulo_footer">Informacoes</h3>
      <p>Quem Somos</p>
      <p>Serviços</p>
      <p>Contatos</p>
    </div>
    <div class="footer_div">
      <h3 class="titulo_footer">Termos e Privacidade</h3>
      <p>Politicas de Privacidade</p>
      <h3 class="titulo_footer">Redes Sociais</h3>
      <div class="icons_social">
        <!-- ícone instagram -->
        <img src="../images/icones/index/Instagram.svg" alt="whatsapp">
        <!-- ícone facebook -->
        <img class="space_icons" src="../images/icones/index/facebook.svg" alt="whatsapp">
      </div>
    </div>
    <div class="footer_div">
      <h3 class="titulo_footer">Fale Conosco</h3>

      <div class="icons_social">
        <!-- ícone whatsapp -->
        <img src="../images/icones/index/Whats.svg" alt="whatsapp">
        <!-- ícone e-mail -->
        <img class="space_icons" src="../images/icones/index/email.svg" alt="whatsapp">
      </div>

    </div>
    <hr class="fourth_divisor">
    <p style="padding: 20px;">© 2022 todos direitos reservados</p>
  </footer>
</body>

</html>