<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="../images/icones/sobre.png" type="image/icon type">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre a empresa</title>
  <link rel="stylesheet" href="../Styles/style.css">
</head>

<body>
  <!--MENU-->
  <section>
    <header>
      <img width="100" class="logo" src="../images/Logo/logo.svg" alt="logo_sobre">
      <nav>
        <ul class="nav_links">
          <li><a href="../index.html">Início</a></li>
          <li><a href="./sobre-a-empresa.html">Sobre a empresa</a></li>
          <li><a href="./servicos.html">Serviços</a></li>
          <li><a href="#">Colaboradores</a></li>
          <li><a href="./contato.html">Contato</a></li>
        </ul>
      </nav>
    </header>
  </section>

  <footer>
    

  </footer>
</body>

</html>