<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="../images/icones/titles/sobre.png" type="image/icon type">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre a empresa</title>
  <link rel="stylesheet" href="../Styles/Style.css">
  <link rel="stylesheet" href="../Styles/sobreStyle.css">
</head>

<body>
  <!--MENU-->
  <section>
    <header>
        <div class="logo">
            <img width="65%" src="../images/Logo/logo.svg" alt="logo">
        </div>

        <nav class="nav_menu">
            <ul class="nav_links">
              <li><a href="../index.html">Início</a></li>
              <li><a href="./sobre-a-empresa.html">Sobre a empresa</a></li>
              <li><a href="./servicos.html">Serviços</a></li>
              <li><a href="./colaboradores.html">Colaboradores</a></li>
              <li><a href="./contato.html">Contato</a></li>
            </ul>
        </nav>

    </header>
</section>

  <section>
    <div class="sobre_a_empresa_div">
      <p>Sobre a empresa</p>
    </div>

    <!-- banner em sobre a empresa -->
    <img style="width:100%;" src="../images/Sobre a empresa/SobreAEmpresa.png" alt="banner1">
  </section>

  <div class="titulo_segunda_parte">
    Conheça nossa empresa
  </div>

  <div class="conheca_nossa_empresa">
    <div class="bloco_esquerda">
      <h3>DESCRIÇÃO DA EMPRESA</h1>
        <hr size="3%" class="risquinho_descricao">
        <P>
          A empresa Good Freelas criada a partir de um grupo<br>
          acadêmico, oferece serviços aos seus clientes com base<br>
          nas características e habilidades dos integrantes da<br>
          equipe, visando mostrar às grandes empresas as<br>
          competências de cada um de seus integrantes de maneira<br>
          profissional.<br>
          A Good Freelas procura de forma competitiva, entregar<br>
          da melhor maneira e de forma ágil seus serviços,<br>
          buscando sempre a evolução de seus integrantes e do<br>
          melhor produto possível<br>
          ao cliente
        </P>
    </div>
    <div class="bloco_direita">
      <img width="350" src="../images/Sobre a empresa/about2.png" alt="mãozinhas">
    </div>
  </div>

  <div class="MVV">
    <h2>MISSÃO, VISÃO E VALORES DA EMPRESA</h2>
    <hr size="3%" class="sublinhado_MVV">
  </div>

  <div class="text_MVV">
    <li class="subtitles_MVV">MISSÃO</li>
    <p>
      Good Freelas tem como objetivo, mostrar os serviços realizados como um portfólio para o<br>
      mercado de trabalho, buscando sempre a evolução e a melhor qualidade do serviço prestado<br>
      aos seus clientes, de forma limpa e competitiva para expandir sua clientela e até mesmo para<br>
      guiar os seus membros para as multinacionais.
    </p>
    <br>

    <li class="subtitles_MVV">VISÃO</li>
    <p>
      Visamos crescer profissionalmente, expandindo nosso portfólio e deixando nossa marca no<br>
      mercado.
    </p>
    <br>

    <li class="subtitles_MVV">VALORES</li>
    <p>
      Procuramos sempre estudar novas tecnologias para atendermos as necessidades constantes do<br>
      mercado, que está em constante desenvolvimento.
    </p>

  </div>

  <div class="area_atuacao">
    <h2>ÁREA DE ATUAÇÃO</h2>
    <hr size="3%" class="risquinho_area_atuacao">
    <p>
      Atuamos no mercado como uma empresa que presta serviços voltados a área<br>
      desenvolvimento para Web principalmente e outros tipos de projetos no geral, seja tanto para<br>
      o desenvolvimento prioritário ou como apenas prestar serviços para a organização do projeto<br>
      ou como gestor de projetos.
    </p>
  </div>


</body>

</html>