<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="../images/icones/sobre.png" type="image/icon type">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre a empresa</title>
  <link rel="stylesheet" href="../Styles/Style.css">
  <link rel="stylesheet" href="../Styles/sobreStyle.css">
</head>

<body>
  <!--MENU-->
  <section>
    <header>
      <img width="100" class="logo" src="../images/Logo/logo.svg" alt="logo_sobre">
      <nav>
        <ul class="nav_links">
          <li><a href="../index.html">Início</a></li>
          <li><a href="./sobre-a-empresa.html">Sobre a empresa</a></li>
          <li><a href="./servicos.html">Serviços</a></li>
          <li><a href="./colaboradores.html">Colaboradores</a></li>
          <li><a href="./contato.html">Contato</a></li>
        </ul>
      </nav>
    </header>
  </section>

  <section>

    <div class="sobre_a_empresa_div">
      <p>Sobre a empresa</p>
    </div>

    <!-- banner em sobre a empresa -->
    <img style="width:100%;" src="../images/Sobre a empresa/SobreAEmpresa.png" alt="banner1">
  </section>

  <div class="conheca_nossa_empresa">
    <h1>Conheça a nossa empresa</h1>
  </div>



</body>

</html>