/* Responsividade em até 700px de largura */

@media screen and (max-width: 700px) {

    .conteudo_sobre_a_empresa {
        display: list-item;
    }

    .conteudo_esquerda {

        color: #edf0f1;
        font-family: system-ui, system-ui, sans-serif;
        font-size: 40%;
        position: absolute;
        width: 100%;
        height: 67%;

    }

    .conteudo_direita {

        text-align: center;
        position: absolute;
        right: 0%;
        width: 40%;
        height: 67%;
        padding-top: 7%;

    }

    .text_body1 {

        padding-top: 5%;
        padding-right: 43%;
        text-align: center;
        font-family: 'poppins-medium', 'lato-regular', Arial, sans-serif;

    }

    /*estilos do menu*/
    .nav_menu {

        font-size: 50%;
        width: 85%;
        text-align: right;
        margin-left: -5%;
        margin-right: 5%;

    }

    .nav_links {
        list-style: none;
        font-size: 90%;
    }

    .nav_links li {
        display: inline-block;
        padding: 0px 5px;
    }

    .nav_links li a {
        transition: all 0.3s ease 0s;
    }

    .nav_links li a:hover {
        color: gray;
    }

    .button1 {

        margin-right: 5%;
        margin-top: 2%;
        top: 60%;
        color: white;
        font-family: sans-serif;
        background-color: #FFFFFF30;
        border-radius: 5px;
        border: 3px solid white;
        font-family: 'lato-regular', 'poppins-medium', Arial, sans-serif;
        font-size: 100%;
        padding: 5px 15px;
    }

    .button2 {

        top: 60%;
        color: white;
        font-family: sans-serif;
        background-color: #000000;
        border-radius: 5px;
        border: 3px solid rgb(0, 0, 0);
        font-family: Arial;
        font-size: 100%;
        padding: 5px 15px;
    }

    .conteudo_sobre_a_empresa {

        display: inline-table;
        width: 100%;
        text-align: left;
        margin-left: 15%;
        margin-right: 15%;
    }

    .sobre_a_empresa_esquerda {
        margin-left: auto;
        width: 100%;
        height: 100%;
        font-size: 75%;
    }

    .ttl_sobre_a_empresa {
        font-family: 'lato-regular';
        font-weight: normal;
    }

    .txt_sobre_a_empresa {
        font-family: 'poppins-medium';
        font-weight: bold;
        font-size: 80%;
    }

    .sobre_a_empresa_direita {

        /*apagar borda de teste*/
        border: 0px rgb(253, 253, 253);
        background-color: #ffffff;
        width: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .img_SAED {
        margin-left: 0%;
        margin-top: 0%;
    }

    .risquinho {
        background-color: rgba(0, 0, 0, 0.993);
        margin-top: 1%;
        margin-bottom: 4%;
        width: 10%;
    }

    .button3 {
        color: white;
        font-family: sans-serif;
        background-color: #000000;
        border-radius: 5px;
        border: 3px solid rgb(0, 0, 0);
        font-family: Arial;
        font-size: 70%;
        padding: 0.5% 3%;
        margin-bottom: 0%;
    }

    .first_divisor {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 3%;
        width: 90%;
    }

    .second_divisor {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        margin-bottom: 5%;
        width: 90%;
    }

    .entre_em_contato {
        font-family: 'poppins-medium';
        font-weight: bold;
        font-size: 70%;
        width: 100%;
        height: 100%;
        color: #ffffff;
        position: absolute;
        top: 0%;
        left: 0%;
        text-align: center;
    }

    .button4 {
        top: 0%;
        color: white;
        font-family: sans-serif;
        background-color: #000000;
        border-radius: 0px;
        border: 0px rgb(0, 0, 0);
        font-family: Arial;
        font-size: 0px;
        padding: 0%;
        margin-top: 0%;
    }

    .big_div_srvc {
        height: 100%;
        width: 92%;
        padding-bottom: 0%;
        display: inline-block;
    }

    .little_divs_srvc {
        width: 100%;
        height: 100%;
    }


    .micro_divs_srvc {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 10%;
        padding-right: 10%;
        height: 100%;
        width: 100%;
        display: inline-flex;
    }

    .logo {

        width: 15%;
        display: flex;
        margin-left: 3%;
        justify-content: center;
        align-items: center;
    }

    .logo_our_srvc {
        height: 70%;
        width: 40%;
        text-align: center;
    }

    .title_our_srvc {
        text-align: center;
        font-family: system-ui, system-ui, sans-serif;
        font-size: 185%;
        font-weight: 500;
        color: #edf0f1a1;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .text_our_srvc {
        margin-top: 0%;
        height: 100%;
        width: 100%;
        display: inline-table;
    }

    .ttl_svc {
        font-family: system-ui, system-ui, sans-serif;
        font-size: 100%;
        margin-top: 2%;
        height: 25%;
        width: 100%;
    }

    .txt_svc {
        color: #edf0f1dc;
        font-family: system-ui, system-ui, sans-serif;
        font-size: 85%;
        height: 50%;
        width: 100%;
        margin-bottom: 8%;
    }

    .third_divisor {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 90%;
    }

    .div_esquerda_cne {
        width: 100%;
        height: 100%;
        margin-right: -60%;
    }

    .div_direita_cne {
        width: 55%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-top: 4%;
        margin-bottom: 4%;
        background-color: #000000;
        color: white;
        padding: 4.5%;
        font-family: system-ui, system-ui, sans-serif;
        font-size: large;
    }


    /* Estilos dos inputs no formulário */
    input[type=text] {
        width: 100%;
        background-color: #e4e4e4;
        color: rgb(0, 0, 0);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }

    input[type=email] {
        width: 100%;
        background-color: #e4e4e4;
        color: rgb(0, 0, 0);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }

    .input_submit {
        width: 70px;
        border-radius: 20px;
    }

    /* FOOTER */

    .footer_div {
        vertical-align: top;
        width: 32%;
        height: 400px;
    }

    .logo_footer {
        padding: 0px;
        margin-left: 0px;
        margin-right: 0%;
        width: 0;
    }

    .titulo_footer {

        /*Arrumar Fonte*/
        font-family: 'poppins-medium';
        font-size: 55%;
        padding-left: 10%;
        padding-top: 10%;
    }

}