/*exemplo de como centralizar conteúdo em uma div*/
.sobre_a_empresa_div {
    position: absolute;

    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 450%;
    color: rgb(255, 255, 255);
    font-family: system-ui, sans-serif;
    font-weight: bold;
}

.titulo_segunda_parte {
    display: flex;
    align-items: center;
    justify-content: center;

    
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 22px;
    font-weight: bold;
}

.conheca_nossa_empresa {

    margin-bottom: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco_esquerda {
    font-size: 110%;
    height: 95%;
    margin-left: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;

   

}

.bloco_direita {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    height: 95%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 30%;

    
}

.risquinho_descricao {
    background-color: rgba(0, 0, 0, 0.993);
    margin-top: 1%;
    margin-bottom: 3%;
    width: 25%;
}

.title_MVV {
    text-align: center;

   

    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 100%;
    font-family: system-ui, sans-serif;
    font-weight: bold;
}

.sublinhado_MVV {
    background-color: rgba(0, 0, 0, 0.993);
    margin-top: 0.6%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 463px;
}

.subtitles_MVV {
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-left: 1%;
    margin-bottom: 1%;
}

.MVV {

    margin-right: 9%;
    margin-left: 9%;
    margin-bottom: 5%;
    height: 100%;
    width: 82%;
    font-family: system-ui, sans-serif;
    font-size: 18px;
    color: black;
}

.text_MVV{
    margin-bottom: 3%;
}

.area_atuacao {
    text-align: left;
    margin-right: 9%;
    margin-left: 9%;
    margin-top: 9%;
    margin-bottom: 9%;

    font-family: system-ui, sans-serif;
    font-size: 18px;
}

.risquinho_area_atuacao {

    /*apagar borda de teste*/
    background-color: rgba(0, 0, 0, 0.993);

    margin-top: 0.5%;
    margin-bottom: 3%;
    width: 17%;    
}