/*isso aqui é pra todo mundo*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*====================== estilos de TAGS ======================*/
li, a {
    font-family: system-ui, system-ui, sans-serif;
    font-size: 105%;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

/*Estilos do menu inteiro*/
header {
    background-color: black;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 30px 10%;
    box-shadow: 0px 10px 10px black;
}

/*estilos do footer, da parte lá de baixo do site*/
footer {
    background-color: black;
    color: white;
}

.titulo_footer {
    /*Arrumar Fonte*/
    padding: 25px 30px 30px 30px;
}

.logo_footer {
    padding: 40px;
    margin-left: 30px;
    margin-right: 30px;
}


/*====================== estilos de CLASSES ======================*/
/*estilos dos links do menu*/
.nav_links {
    list-style: none;
    width: 100%;
}

.nav_links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: gray;
}

/*estilo do logo geral*/
.logo {
    width: 10%;
}

/* conteúdo da primeira parte do corpo */

/*class da seção da primeira parte da primeira págiuna*/
.container {
    position: relative;
    text-align: center;
    color: white;
}

.conteudo_esquerda {

    font-family: system-ui, system-ui, sans-serif;
    font-size: 125%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 83%;
    left: 33%;

}

.conteudo_direita {

    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 50%;


}

/*==================================================*/

.button1 {

    margin-right: 5%;
    margin-top: 2%;
    top: 60%;
    color: white;
    font-family: sans-serif;
    background-color: #FFFFFF30;
    border-radius: 5px;
    border: 3px solid white;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
}

.button2 {

    top: 60%;
    color: white;
    font-family: sans-serif;
    background-color: #000000;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
}

.text_body1 {

    height: 40%;
    margin-right: 0.5%;
    margin-left: 15%;
    margin-top: 10%;

    text-align: left;
}

.first_divisor {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 90%;
}

/*parte 2 do corpo da página inicial*/

.sobre_a_empresa_esquerda {
    margin-left: 10%;
    margin-right: 2%;
    width: 39%;
    height: 400px;
    display: inline-block;

    font-family: sans-serif;
}

.sobre_a_empresa_direita {
    height: 350px;
    width: 39%;
    display: inline-block;

}

.risquinho {
    background-color: rgba(0, 0, 0, 0.993);
    margin-top: 3%;
    margin-bottom: 5%;
    width: 9%;
}

.second_divisor {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 90%;
}

.button3 {
    top: 60%;
    color: white;
    font-family: sans-serif;
    background-color: #000000;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    font-family: Arial;
    font-size: 17px;
    padding: 8px 31px;
}

.entre_em_contato {

    font-family: system-ui, system-ui, sans-serif;
    font-size: 125%;
    width: 80%;
    height: 80%;
    color: #ffffff;
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;

}

.escurecendo_imagem {
    width: 100%;
    background: rgba(0, 0, 0, 0.514);
    background-blend-mode: darken;
}

.la_em_baixo {
    position: relative;
}

.entre_em_contato_risquinho {
    width: 78%;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    background-color: white;
}

.button4 {

    top: 60%;
    color: white;
    font-family: sans-serif;
    background-color: #000000;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    font-family: Arial;
    font-size: 17px;
    padding: 8px 31px;
    margin-top: 4%;

}

.big_div_srvc {
    height: 550px;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
    display: flex;

}

.little_divs_srvc {

    width: 33.3%;
    height: 100%;


}

.micro_divs_srvc {
    height: 38%;
    width: 100%;
    display: inline-flex;

}

.logo_our_srvc {

    padding: 3%;

    height: 30%;
    width: 30%;
    text-align: center;

}

.title_our_srvc {
    text-align: center;
    font-family: system-ui, system-ui, sans-serif;
    font-size: 185%;
    font-weight: 500;
    color: #edf0f1a1;
    margin-top: 3%;
    margin-bottom: 3%;
}

.text_our_srvc {
    height: 100%;
    width: 100%;
    display: inline-table;
}

.ttl_svc {
    font-family: system-ui, system-ui, sans-serif;
    font-size: 100%;
    margin-top: 2%;
    height: 25%;
    width: 100%;

}

.txt_svc {

    color: #edf0f1dc;
    font-family: system-ui, system-ui, sans-serif;
    font-size: 85%;
    height: 50%;
    width: 100%;
    margin-bottom: 8%;

}

.know_more {
    font-family: system-ui, system-ui, sans-serif;
    font-size: 100%;
    margin: 4%;
    padding: 5%;
    height: 25%;
    width: 100%;

}

.black_background {
    background-color: black;
    color: white;
}

.button5 {
    color: white;
    font-family: sans-serif;
    background-color: #3a3a3a;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    font-family: Arial;
    font-size: 12px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.third_divisor {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 90%;
}

/*
    Parte 5 do site
    cne = conheça nossa equipe
*/

.big_div_cne {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    display: flex;
}

.div_esquerda_cne {
    width: 45%;
    height: 100%;
}

.div_direita_cne {
    width: 55%;
    height: 80%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: #000000;
    color: white;
    padding: 4.5%;
    font-family: system-ui, system-ui, sans-serif;
    font-size: large;
}